.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.choose{
  transition: 0.5s;
  height: 100vh;
}
a,a:hover{
  text-decoration: none;
  color: inherit;
}
.choose:hover{
  transform:  scale(1.2);
}
.star{
  filter: grayscale(100%);
}
.star-1:hover{
  filter: grayscale(0%);
}
.star-1:hover ~ .star{
  filter: grayscale(0%);
}
.star-2:hover ~ .star{
  filter: grayscale(0%);
}.star-3:hover ~ .star{
  filter: grayscale(0%);
}
.star-4:hover ~ .star{
  filter: grayscale(0%);
}
.star-2:hover{
  filter: grayscale(0%);
}
.star-3:hover{
  filter: grayscale(0%);
}
.star-4:hover{
  filter: grayscale(0%);
}
.star-5:hover{
  filter: grayscale(0%);
}
@media only screen and (max-width: 768px) {
  .choose{
    height: 50vh;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
